.authorContainer {
    width: var(--container-width-lg);
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
    margin-top: 11rem;
}

.author {
    margin-top: -1rem;
    background: var(--white-color);
    padding: 1rem;
    border-radius: var(--radius-3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: var(--transition);
}

.author:hover {
    box-shadow: 0 0.1rem 0.3rem rgba(2, 71, 20, 0.7);
}

.authorInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.authorImage {
    width: 7rem;
    aspect-ratio: 1/1;
    border-radius: 10%;
    border: 0.25rem solid var(--bg-color);
    overflow: hidden;
}

.authorImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.authorInfo p {
    margin-top: 0.5rem;
}


@media screen and (max-width: 992px) {

    .authorContainer {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}
  
@media screen and (max-width: 768px) {
}
  
@media screen and (max-width: 576px) {

    .authorContainer {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin-top: 8rem;
    }

    .author {
        margin-top: 1rem;
    }

    .authorInfo h6 {
        font-size: 0.2rem;
    }

    .authorInfo p {
        margin-top: 0.2rem;
        font-size: 0.7rem;
    }
}
  
@media screen and (max-width: 350px) {
}