.postContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dashboardPosts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background: var(--white-color);
    padding: 0.1rem 1rem;
    border-radius: var(--radius-3);
}

.postInfo {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.postImg {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 1rem;
    overflow: hidden;
}

.postImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.postAction {
    display: flex;
    gap: 1rem;
    padding-bottom: 2rem;
}

.dashboard-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.dashboard_modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 25rem;
    height: 10rem;
    background-color: var(--white-color);
    padding: auto;
    border-radius: 0.5rem;
    margin-top: -12rem;
}

.active_modal {
    opacity: 1;
    visibility: visible;
}

.delPostBtn {
    display: flex;
    gap: 2rem;
}

@media screen and (max-width: 992px) {
}
  
@media screen and (max-width: 768px) {
}
  
@media screen and (max-width: 576px) {

    .dashboardPosts {
        gap: 0.5rem;
        padding: 0.3rem 0.6rem;
    }

    .postInfo h5 {
        font-size: 0.7rem;
    }

    .postAction {
        flex-direction: column;
        align-items: center;
        gap: 0;
        padding-bottom: 1px;
    }

    .postAction .btn {
        padding: 0.1rem 0.4rem;
        font-size: 0.5rem;
        margin: 4px;
        border-radius: var(--radius-1);
    }
}
  
@media screen and (max-width: 350px) {
}