footer {
    background: var(--black-color);
    margin-top: 6rem;
    padding-top: 6rem;
}

.footerContainer {
    display: flex;
    gap: 2rem;
    margin-bottom: 5rem;
    align-items: center;
    justify-content: center;
}

.footerContainer a {
    background: rgba(178, 146, 146, 0.348);
    color: var(--white-color);
    border-radius: var(--radius-2);
    padding: 0.5rem 1rem;
    transition: var(--transition);
}

.footerContainer a:hover {
    background: var(--white-color);
    color: var(--black-color);
}

.catButton {
    appearance: none;
    background: rgba(178, 146, 146, 0);
    color: var(--white-color);
    padding: 0;
    transition: var(--transition);
}

.remStyle {
    background: rgba(178, 146, 146, 0.348);
    color: var(--white-color);
    border-radius: var(--radius-2);
    padding: 0;
    transition: var(--transition);
}


.footerCopyright {
    font-weight: 250;
    color: var(--white-color);
    text-align: center;
    padding: 2rem;
    border-top: 0.2px solid var(--white-color);
}

  
@media screen and (max-width: 770px) {

    footer {
        margin-top: 5rem;
        padding-top: 5rem;
    }
    
    .footerContainer {
        margin-bottom: 4rem;
    }
    
    .footerContainer a {
        border-radius: var(--radius-1);
        padding: 0.4rem 0.8rem;
    }
    
    
    .footerCopyright {
        font-weight: 200;
        padding: 1.5rem;
        border-top: 0.1px solid var(--white-color);
    }
}
  
@media screen and (max-width: 576px) {
    
    .footerContainer {
        gap: 1rem;
    }
    
    .footerContainer a {
        padding: 0.3rem 0.6rem;
    }

    .footerCopyright {
        font-size: 0.7rem;
        padding: 1rem;
    }

}
  
@media screen and (max-width: 350px) {
}