.welcomeContainer {
    width: 100%;
    background: var(--white-color);
    padding: 1rem 1rem 4rem 1rem;
    margin-bottom: -4rem;
}

.welcomeNote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.postsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    margin-top: 3rem;
}

.postHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.post {
    background: var(--white-color);
    padding: 1rem;
    border-radius: var(--radius-4);
    padding-bottom: 2rem;
    transition: var(--transition);
    cursor: default;
}

.post:hover {
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
}

.postImage {
    border-radius: var(--radius-3);
    overflow: hidden;
    height: 8rem;
}

.postContent {
    margin-top: 1rem;
}

.postContent h3 {
    font-size: 20px;
    margin: 0.5rem 0;
}

.postAuthor {
    display: flex;
    gap: 0.2rem;
    align-items: flex-start;
}

.authorAvatar {
    width: 2.5rem;
    border-radius: 1rem;
    aspect-ratio: 1/1;
}

.postFooter {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 0.1rem;
}

.authorName {
    font-size: 12px;
}

.dashboard-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.dashboard_modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 25rem;
    height: 10rem;
    background-color: var(--white-color);
    padding: auto;
    border-radius: 0.5rem;
}

.active_modal {
    opacity: 1;
    visibility: visible;
}

.delPostBtn {
    display: flex;
    gap: 2rem;
}

@media screen and (max-width: 992px) {

    .postsContainer {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .post {
        padding: 0.5rem;
        padding-bottom: 1rem;
    }
}
  
@media screen and (max-width: 770px) {
}
  
@media screen and (max-width: 576px) {

    .welcomeContainer {
        padding: 1rem 1rem 2rem 1rem;
        margin-bottom: -6rem;
    }
    
    .welcomeTitle {
        font-size: 1rem;
    }

    .welcomeDetails {
        font-size: 0.6rem;
    }

    .welcomeDetails .btn {
        font-size: 0.6rem;
        padding: 0.2rem 0.4rem;
    }

}

@media screen and (max-width: 435px) {
    .postsContainer {
        grid-template-columns: 1fr;
    }
}
  
@media screen and (max-width: 350px) {
}