.postInfo {
    width: 70%;
    background: var(--white-color);
    margin-inline: auto;
    padding: 2rem 0;
}

.postInfo_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.postInfo_buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.postInfo_image {
    max-height: 30rem;
    height: fit-content;
    margin: 1rem 0;
    overflow: hidden;
}

@media screen and (max-width: 992px) {
}
  
@media screen and (max-width: 768px) {
}
  
@media screen and (max-width: 576px) {
    .postInfo_title {
        font-size: 1.2rem;
    }

    .postInfo_buttons {
        gap: 0.5rem;
    }

    .postInfo_buttons .btn {
        font-size: 0.5rem;
        padding: 0.4rem 0.8rem;
    }
}
  
@media screen and (max-width: 350px) {
}